@use "include" as *;

html {
	font-size: $font-size-html;
}

body {
	font-family: $font-family-global;
	background: $background-color-global;
	font-size: $font-size-global;
	font-weight: $font-weight-global;
	font-style: normal;
	color: $dark-color-primary;
}

.flex-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

a:hover {
	cursor: url("./../assets/img/svg/small/cursor.svg"), pointer;
}

.social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 23px;
	list-style: none;
	&__icon {
		fill: $dark-color-secondary;
	}
	&__item {
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		background: #efeef3;
		border-radius: 0px;
		color: $dark-color-secondary;
		border: 1px solid $dark-color-secondary;
		&:hover {
			background-color: $dark-color-secondary;
			color: $background-color-global;
		}
	}

	&__link:hover .social__icon {
		fill: $background-color-global;
	}
}