@use "functions" as *;
// Main vars
$font-size-html: 10px;

$background-color-global: #fff;
$font-size-global: 16px;
$line-height-global: 1.69em;
$font-family-global: "Lato", sans-serif;
$font-weight-global: 400;
$dark-color-primary: #000000;
$dark-color-primary-rgb: hex-to-rgb-list($dark-color-primary);
$light-color-primary: #fff;
$light-color-primary-rgb: hex-to-rgb-list($light-color-primary);
$dark-color-secondary: #565656;
$dark-color-secondary-rgb: hex-to-rgb-list($dark-color-secondary);
$light-color-secondary: #f4f4f4;
$light-color-secondary-rgb: hex-to-rgb-list($light-color-secondary);
$accent-color-primary: #9edcde;
$accent-color-primary-rgb: hex-to-rgb($accent-color-primary);
$links-color-primary: #7b7b7b;

$font-family-headings: "Red Hat Display", sans-serif;
$font-color-heading: $dark-color-primary;

$container-width: 100%;
$container-width-max: 1170px;

// Breakpoints mobile first
//0 - default CSS
$lb-xs-min: 359.99px;
$lb-xs: 360px;
$lb-sm-min: 575.99px;
$lb-sm: 576px;
$lb-md-min: 767.99px;
$lb-md: 768px;
$lb-lg-min: 991.99px;
$lb-lg: 992px;
$lb-xl-min: 1199.99px;
$lb-xl: 1200px;
$lb-xxl-min: 1399.99px;
$lb-xxl: 1400px;

// Breakpoints desktop first
//Widescreen - default CSS
// $lb-xxl: 1400px;
// $lb-xxl-min: 1399.99px;
// $lb-xl: 1200px;
// $lb-xl-min: 1199.99px;
// $lb-lg: 992px;
// $lb-lg-min: 991.99px;
// $lb-md: 768px;
// $lb-md-min: 767.99px;
// $lb-sm: 576px;
// $lb-sm-min: 575.99px;
// $lb-xs: 360px;
// $lb-xs-min: 359.99px;
